<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="28" package="com.google.android.tts" platformBuildVersionCode="28" platformBuildVersionName="28">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.google.android.tts.service.GoogleTTSApplication" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <service android:directBootAware="true" android:exported="true" android:label="@string/app_name" android:name="com.google.android.tts.service.GoogleTTSService">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.TTS_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine"/>
        </service>
        <service android:exported="false" android:name="com.google.android.tts.local.voicepack.lorry.UnpackVoicePackJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.google.android.tts.local.voicepack.lorry.UnpackVoicePackService"/>
        <activity android:directBootAware="true" android:exported="true" android:name="com.google.android.tts.settings.CheckVoiceData" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:directBootAware="true" android:exported="true" android:name="com.google.android.tts.settings.GetSampleText" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="@string/tts_settings_label" android:name="com.google.android.tts.settings.EngineSettings" android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="com.google.android.tts.settings.EngineSettings"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:directBootAware="true" android:exported="true" android:label="@string/voice_data_install_title" android:name="com.google.android.tts.local.voicepack.ui.VoiceDataInstallActivity" android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.google.android.tts.local.voicepack.ui.MultipleVoicesActivity" android:theme="@style/platformDialogWhenLargeTheme"/>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.google.android.tts.local.voicepack.lorry.DownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:label="@string/analytics_title" android:name="com.google.android.tts.settings.AnalyticsPreferenceScreen"/>
        <activity android:exported="true" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:exported="false" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>